#sect1 {
  margin-top: 70px;
  .col1 {
    img {
      width: 110px;
    }
    .row2 {
      margin-top: 50px;
      h4 {
        text-align: left;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
          Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        font: normal normal medium 44px/65px Roboto;
        letter-spacing: 0px;
        opacity: 1;
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        color: #000000;
      }
      .free {
        color: #38ccf5;
      }
    }
    .row3 {
      margin-top: 10px;
      h6 {
        font-weight: 700;
        font-size: 15px;
        text-align: left;
        font: normal normal medium 28px/34px Roboto;
        letter-spacing: 0.56px;
        color: #3a3939;
        opacity: 1;
      }
    }
  }
  .col2 {
    img {
      width: 216px;
    }
  }
  .col3 {
    img {
      width: 90px;
      margin-left: 130px;
      margin-top: 30px;
    }
  }
}

#sect2 {
  margin-top: 100px;
  .img1 {
    img {
      position: absolute;
      z-index: -1;
      width: 90px;
      margin-top: -30px;
    }
  }
  .img2 {
    img {
      z-index: 1;
    }
  }
  #card {
    z-index: 5;
    position: absolute;
    margin-left: 640px;
    margin-top: -255px;
    .card {
      background: #fbfbfb 0% 0% no-repeat padding-box;
      box-shadow: 0px 4px 20px #00000029;
      border-radius: 30px;
      opacity: 1;
    }
    h5 {
      margin-top: 40px;
      text-align: center;
      font: normal normal bold 34px/41px Roboto;
      letter-spacing: 0px;
      color: #000000;
      opacity: 1;
      font-size: 30px;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      font-weight: bold;
    }
    p {
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      text-align: center;
      letter-spacing: 0px;
      color: #434141;
      opacity: 1;
      font-weight: 500;
      font-size: 15px;
    }
    .container {
      margin-top: 20px;
    }
    .form-label {
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      text-align: left;
      letter-spacing: 0px;
      color: #434141;
      opacity: 1;
      font-weight: bold;
      font-size: 14px;
      margin-left: 28px;
    }
  }
  .form-check {
    margin-top: 6px;
    .input1 {
      margin-left: 8px;
      margin-top: 10px;
      color: #38ccf5;
    }
    .input2 {
      margin-left: 90px;
      color: #38ccf5;
    }
    .yes {
      margin-left: 5px;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      text-align: left;
      letter-spacing: 0px;
      color: #434141;
      opacity: 1;
      font-weight: bold;
      font-size: 13px;
    }
    .no {
      margin-left: 5px;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      text-align: left;
      letter-spacing: 0px;
      color: #434141;
      opacity: 1;
      font-weight: bold;
      font-size: 13px;
    }
  }
  .budjet {
    margin-top: 20px;
    select {
      width: 300px;
      margin-left: 23px;
      margin-top: 8px;
      color: #434141;
      opacity: 1;
      font-size: 13px;
      background: #ffffff 0% 0% no-repeat padding-box;
      font-weight: 500;
      border-radius: 5px;
      opacity: 1;
    }
  }
  .button {
    margin-top: 30px;
    button {
      width: 350px;
      background: transparent linear-gradient(180deg, #ff6e4e 0%, #ff6e4e 100%)
        0% 0% no-repeat padding-box;
      box-shadow: 0px 4px 8px #00000029;
      opacity: 1;
      margin-left: 10px;
      text-align: center;
      font: normal normal bold 20px/24px Roboto;
      letter-spacing: 0.6px;
      color: #ffffff;
      border-radius: 6px;
      font-size: 15px;
    }
  }
}
#sect3 {
  // height: 400px;
  .jumbotron {
    background-image: url("../../assets/group1/Group\ 392.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 400px;
  }
  .text {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    h4 {
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      letter-spacing: 0px;
      color: #38ccf5;
      opacity: 1;
    }
  }
}
#sect4 {
  margin-top: 60px;
  #leftSide {
    h5 {
      margin-top: 7%;
      text-align: center;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      background: 0% 0% no-repeat padding-box;
      letter-spacing: 0px;
      font-size: 23px;
      color: #000000;
      font-weight: 500;
      .benefits {
        color: #38ccf5;
      }
    }
  }
  .col-6 {
    h5 {
      margin-top: 6%;
      text-align: center;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      background: 0% 0% no-repeat padding-box;
      letter-spacing: 0px;
      font-size: 23px;
      color: #000000;
      font-weight: 500;
      .benefits {
        color: #38ccf5;
      }
    }
  }
  #gridriht {
    margin-top: 35px;
    h5 {
      font-size: 15px;
      text-align: left;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      letter-spacing: 0px;
      color: #070606;
      opacity: 1;
      margin-top: 20px;
    }
    img {
      width: 26px;
      margin-right: 30px;
    }
    .camp {
      margin-left: 60px;
    }
  }
}
#sect5 {
  height: 420px;
  background: linear-gradient(
    #119fd6,
    #119fd6,
    #119fd6,
    #119fd6,
    #119fd6,
    #2a97bf,
    #108abf
  );
  margin-top: 70px;
  .container {
    .col-4 {
      margin-top: 100px;
    }
    img {
      width: 30px;
      margin-right: 35px;
    }
    .reste {
      margin-left: 67px;
    }
    h6 {
      letter-spacing: 0px;
      color: #ffffff;
      opacity: 1;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      font-size: 18px;
      font-weight: 500;
    }
    p {
      letter-spacing: 0px;
      color: #ffffff;
      opacity: 1;
      font-size: small;
    }
  }
  #testimonial {
    margin-top: -75px;
  }
  #equipe {
    overflow-y: hidden;
    margin-top: -80px;
    img {
      width: 80px;
      height: 80px;
      border-radius: 40px;
    }
    h3 {
      text-align: left;
      letter-spacing: 0px;
      color: #ffffff;
      opacity: 1;
      font-size: 15px;
      .reste {
        margin-left: 113px;
        font-size: 13px;
        font-weight: 200;
        margin-top: -25px;
      }
    }
  }
}
footer {
  overflow: hidden;
  background-color: #595957;
  height: 80px;
  padding-bottom: 47px;
  h6 {
    text-align: center;
    margin-left: 100px;
    margin-top: 40px;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 15px;
    font-weight: 400;
  }
  #right {
    .row {
      margin-top: 29px;
      margin-left: 10px;
      a {
        letter-spacing: 0px;
        color: #ffffff;
        opacity: 1;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
          Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        font-size: 15px;
        font-weight: 400;
      }
    }
    #row2 {
      margin-top: -6px;

      a {
        width: 1px;
        img {
          width: 10px;
        }
      }
    }
  }
}
// ---------------------------responsive--------------------//

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  #sect1 {
    margin-top: -16px;
    .col1 {
      img {
        display: none;
      }
      .row2 {
        h4 {
          text-align: center;
          font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
            Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
          font: normal normal medium 44px/65px Roboto;
          letter-spacing: 0px;
          opacity: 1;
          font-weight: 700;
          font-size: 40px;
          line-height: 45px;
          color: #000000;
        }
        .free {
          color: #ff6e4e;
        }
      }
      .row3 {
        margin-top: 17px;
        h6 {
          font-weight: 700;
          font-size: 24px;
          text-align: center;
          font: normal normal medium 28px/34px Roboto;
          letter-spacing: 0.56px;
          color: #3a3939;
          opacity: 1;
        }
      }
    }
    .col2 {
      display: none;
    }
    .col3 {
      display: none;
    }
  }

  #sect2 {
    margin-top: 90px;
    .img1 {
      display: none;
      img {
        position: absolute;
        z-index: -1;
        width: 90px;
        margin-top: -30px;
      }
    }
    #col-2 {
      display: none;
    }
    .img2 {
      display: none;
      img {
        z-index: 1;
      }
    }
    #card {
      margin-left: 0px;
      margin-top: 5px;

      margin-right: 10%;
      .card {
        background: #fbfbfb 0% 0% no-repeat padding-box;
        box-shadow: 0px 4px 20px #00000029;
        border-radius: 30px;
        opacity: 1;
      }
      h5 {
        margin-top: 40px;
        text-align: center;
        font: normal normal bold 34px/41px Roboto;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
        font-size: 30px;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
          Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        font-weight: bold;
        display: none;
      }
      p {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
          Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        text-align: center;
        letter-spacing: 0px;
        color: #008cc9;
        opacity: 1;
        font-weight: 500;
        font-size: 15px;
      }
      .container {
        margin-top: 20px;
      }
      .form-label {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
          Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        text-align: left;
        letter-spacing: 0px;
        color: #434141;
        opacity: 1;
        font-weight: bold;
        font-size: 14px;
        margin-left: 28px;
      }
    }
    .form-check {
      margin-top: 6px;
      .input1 {
        margin-left: 8px;
        margin-top: 10px;
        color: #38ccf5;
      }
      .input2 {
        margin-left: 90px;
        color: #38ccf5;
      }
      .yes {
        margin-left: 5px;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
          Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        text-align: left;
        letter-spacing: 0px;
        color: #434141;
        opacity: 1;
        font-weight: bold;
        font-size: 13px;
      }
      .no {
        margin-left: 5px;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
          Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        text-align: left;
        letter-spacing: 0px;
        color: #434141;
        opacity: 1;
        font-weight: bold;
        font-size: 13px;
      }
    }
    .budjet {
      margin-top: 20px;
      select {
        width: 300px;
        margin-left: 23px;
        margin-top: 8px;
        color: #434141;
        opacity: 1;
        font-size: 13px;
        background: #ffffff 0% 0% no-repeat padding-box;
        font-weight: 500;
        border-radius: 5px;
        opacity: 1;
      }
    }
    .button {
      margin-top: 30px;
      button {
        width: 350px;
        background: transparent
          linear-gradient(180deg, #ff6e4e 0%, #ff6e4e 100%) 0% 0% no-repeat
          padding-box;
        box-shadow: 0px 4px 8px #00000029;
        opacity: 1;
        margin-left: 10px;
        text-align: center;
        font: normal normal bold 20px/24px Roboto;
        letter-spacing: 0.6px;
        color: #ffffff;
        border-radius: 6px;
        font-size: 15px;
      }
    }
  }
  #sect3 {
    margin-top: 600px;
    .jumbotron {
      background-image: url("../../assets/responssive/Group\ 391.svg");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      max-width: 572px;
    }
    .text {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      float: left;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      h4 {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
          Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        letter-spacing: 0px;
        color: #38ccf5;
        opacity: 1;
        text-align: center;
      }
    }
  }
  #sect4 {
    margin-top: 60px;
    #leftSide {
      h5 {
        margin-top: 7%;
        text-align: center;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
          Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        background: 0% 0% no-repeat padding-box;
        letter-spacing: 0px;
        font-size: 23px;
        color: #000000;
        font-weight: 500;

        .benefits {
          color: #38ccf5;
        }
      }
    }
    .col-6 {
      h5 {
        margin-top: 6%;
        text-align: center;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
          Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        background: 0% 0% no-repeat padding-box;
        letter-spacing: 0px;
        font-size: 23px;
        color: #000000;
        font-weight: 500;
        .benefits {
          color: #38ccf5;
        }
      }
    }
    #gridriht {
      h5 {
        font-size: 15px;
        text-align: left;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
          Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        letter-spacing: 0px;
        color: #070606;
        opacity: 1;
      }
      .res {
        text-align: 400px;
      }
      img {
        width: 26px;
        margin-right: 30px;
      }
      .camp {
        margin-left: 60px;
      }
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
