<section id="sect1">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 col1">
          <div class="row row1">
            <img
              src="assets\group1\filed-logo-01.png"
              class="card-img-top"
              alt="..."
            />
          </div>
          <div class="row row2">
            <h4>
              Book a demo today and <br />
              get two weeks for <span class="free">free</span>. Why?
            </h4>
          </div>
          <div class="row row3">
            <h6>
              Because Our AI-Powered Software <br />
              Will Exceed Your Marketing Goals.
            </h6>
          </div>
        </div>
        <div class="col-3 col-md-3 col2">
          <img
            src="assets\group1\Ellipse 8.svg"
            class="card-img-top"
            alt="..."
          />
        </div>
        <div class="col-2 col-md-2 col3">
          <img
            src=" assets\group1\Repeat Grid 2.svg"
            class="card-img-top"
            alt="..."
          />
        </div>
      </div>
    </div>
  </div>
</section>

<section id="sect2">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <div class="row">
        <div class="col-2 col-md-6" id="col-2">
          <div class="img1">
            <img
              src=" assets\group1\Repeat Grid 2.svg"
              class="card-img-top"
              alt="..."
            />
          </div>
          <div class="img2">
            <img
              src="assets\group1\Artboard 1.png"
              class="card-img-top"
              alt="..."
            />
          </div>
        </div>
        <div class="col-12 col-md-6" id="card">
          <form [formGroup]="userTrialForm">
            <div class="card">
              <div class="card-body">
                <h5>Let's Start</h5>
                <div class="container">
                  <p>Fill Out Form</p>
                </div>
                <div>
                  <div>
                    <div class="row">
                      <div class="col">
                        <input
                          class="form-control"
                          type="text"
                          placeholder="First Name *"
                          formControlName="firstName"
                        />
                        <small
                          class="text-danger"
                          *ngIf="
                            userTrialForm &&
                            userTrialForm.controls.firstName.touched &&
                            userTrialForm.controls.firstName.errors &&
                            userTrialForm.controls.firstName.errors.required
                          "
                        >
                          This Field is required
                        </small>
                        <small
                          class="text-danger"
                          *ngIf="
                            userTrialForm &&
                            userTrialForm.controls.firstName.touched &&
                            userTrialForm.controls.firstName.errors &&
                            userTrialForm.controls.firstName.errors.pattern
                          "
                        >
                          Only letters allowed
                        </small>
                      </div>
                      <div class="col">
                        <input
                          class="form-control"
                          type="text"
                          placeholder="Last Name *"
                          formControlName="lastName"
                        />
                        <small
                          class="text-danger"
                          *ngIf="
                            userTrialForm &&
                            userTrialForm.controls.lastName.touched &&
                            userTrialForm.controls.lastName.errors &&
                            userTrialForm.controls.lastName.errors.required
                          "
                        >
                          This Field is required
                        </small>
                        <small
                          class="text-danger"
                          *ngIf="
                            userTrialForm &&
                            userTrialForm.controls.lastName.touched &&
                            userTrialForm.controls.lastName.errors &&
                            userTrialForm.controls.lastName.errors.pattern
                          "
                        >
                          Only letters allowed
                        </small>
                      </div>
                    </div>
                    <div class="inputs">
                      <div class="row">
                        <input
                          class="form-control"
                          type="text"
                          placeholder="Work Email *"
                          formControlName="email"
                        />
                        <small
                          class="text-danger"
                          *ngIf="
                            userTrialForm &&
                            userTrialForm.controls.email.touched &&
                            userTrialForm.controls.email.errors &&
                            userTrialForm.controls.email.errors.required
                          "
                        >
                          This Field is required
                        </small>
                        <small
                          class="text-danger"
                          *ngIf="
                            userTrialForm &&
                            userTrialForm.controls.email.touched &&
                            userTrialForm.controls.email.errors &&
                            userTrialForm.controls.email.errors.email
                          "
                        >
                          Please enter a valid email format
                        </small>
                      </div>
                      <br />
                      <div class="row">
                        <input
                          class="form-control"
                          type="text"
                          placeholder="Monthly Advertising Budget *"
                          formControlName="monthlyAdvertisingBudget"
                        />
                        <small
                          class="text-danger"
                          *ngIf="
                            userTrialForm &&
                            userTrialForm.controls.monthlyAdvertisingBudget
                              .touched &&
                            userTrialForm.controls.monthlyAdvertisingBudget
                              .errors &&
                            userTrialForm.controls.monthlyAdvertisingBudget
                              .errors.required
                          "
                        >
                          This Field is required
                        </small>
                        <small
                          class="text-danger"
                          *ngIf="
                            userTrialForm &&
                            userTrialForm.controls.monthlyAdvertisingBudget
                              .touched &&
                            userTrialForm.controls.monthlyAdvertisingBudget
                              .errors &&
                            userTrialForm.controls.monthlyAdvertisingBudget
                              .errors.pattern
                          "
                        >
                          Only numbers allowed
                        </small>
                      </div>
                      <br />
                      <div class="row">
                        <div class="input-group" id="select">
                          <select
                            (change)="getDialCode($event.target.value)"
                            class="form-select"
                            formControlName="dialCode"
                            id=""
                          >
                            <option
                              *ngFor="
                                let country of countries;
                                let countryIndex = index
                              "
                              value="{{ country.callingCodes[0] }}"
                            >
                              {{ country.name }}({{ country.demonym }})
                            </option>
                          </select>
                          <div class="input-group-addon">
                            <input
                            (change) = "getPhoneNumber($event.target.value)"
                              class="form-control"
                              type="text"
                              formControlName="phoneNumber"
                              value="+{{ dialCode }}"
                            />
                          </div>
                        </div>
                      </div>
                      <small
                        class="text-danger"
                        *ngIf="
                          userTrialForm &&
                          userTrialForm.controls.phoneNumber.touched &&
                          userTrialForm.controls.phoneNumber.errors &&
                          userTrialForm.controls.phoneNumber.errors.required
                        "
                      >
                        This Field is required
                      </small>
                      <small
                        class="text-danger"
                        *ngIf="
                          userTrialForm &&
                          userTrialForm.controls.phoneNumber.touched &&
                          userTrialForm.controls.phoneNumber.errors &&
                          userTrialForm.controls.phoneNumber.errors.pattern
                        "
                      >
                        Only numbers allowed
                      </small>
                    </div>
                    <div class="button text-center">
                      <button
                        (click)="getTrial(userTrialForm.value)"
                        class="btn btn-light btn-sm"
                        type="submit"
                        [disabled]="userTrialForm.untouched"
                      >
                        GET FREE TRIAL
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="sect3">
  <div class="jumbotron">
    <div class="text">
      <h4>
        Our Offer: Intelligent Automation. Real-time Insights. Unparalleled
        Results.
      </h4>
    </div>
  </div>
</section>
<section id="sect4">
  <div class="row">
    <div class="col-12 col-md-6" id="leftSide">
      <div class="row">
        <h5><span class="benefits"></span></h5>
      </div>
      <div class="row">
        <h5>The <span class="benefits">Benefits</span> of using Filed</h5>
      </div>
      <div class="row">
        <h5><span class="benefits"></span></h5>
      </div>
    </div>
    <div class="col-12 col-md-6" id="gridriht">
      <div class="row">
        <h5 class="col-12">
          <span
            ><img
              src="../../assets/group1/Icon awesome-check-1.svg"
              alt="" /></span
          >Ability to scale using Dexter, our AI-powered
          <span class="res">marketing genius.</span>
        </h5>
      </div>
      <div class="row">
        <h5>
          <span
            ><img src="../../assets/group1/Icon awesome-check-1.svg" alt=""
          /></span>
          Client Success Manager who will optimize your Facebook ad<br />
          <span class="camp">
            campaigns and focus on driving the best possible results for
            you.</span
          >
        </h5>
      </div>
      <div class="row">
        <h5>
          <span
            ><img src="../../assets/group1/Icon awesome-check-1.svg" alt=""
          /></span>

          This is a limited time offer only.
        </h5>
      </div>
    </div>
  </div>
</section>
<section id="sect5">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <div class="row">
        <div class="col-4">
          <h6>
            <span
              ><img
                src="../../assets/group1/Icon material-format-quote.svg"
                alt=""
            /></span>
            "It surpassed our <br />
            <span class="reste"> expectations"</span>
          </h6>
        </div>
        <div class="col-4">
          <h6>
            <span
              ><img
                src="../../assets/group1/Icon material-format-quote.svg"
                alt=""
            /></span>
            “The essential <br />
            <span class="reste"> marketing tool”</span>
          </h6>
        </div>
        <div class="col-4">
          <h6>
            <span
              ><img
                src="../../assets/group1/Icon material-format-quote.svg"
                alt=""
            /></span>
            “Your company is <br />
            <span class="reste"> truly upstanding”</span>
          </h6>
        </div>
      </div>
      <div class="row" id="testimonial">
        <div class="col-4">
          <p>
            "Filed has completely surpassed our <br />
            expectations. I will refer everyone I know.<br />
            Filed is worth much more than I paid."
          </p>
        </div>
        <div class="col-4">
          <p>
            “Filed is the most valuable business resource <br />
            we have EVER purchased. I was amazed at the <br />
            quality of filed. We were treated like royalty.”
          </p>
        </div>
        <div class="col-4">
          <p>
            “The service was excellent. After using filed my<br />
            business skyrocketed! It really saves me time<br />
            and effort.”
          </p>
        </div>
      </div>
      <div class="row" id="equipe">
        <div class="col-4">
          <h3>
            <span><img src="../../assets/group1/pp2.jpg" alt="" /></span>
            Tania Y. <br />

            <h3 class="reste">Flexi Content @Hello</h3>
          </h3>
        </div>
        <div class="col-4">
          <h3>
            <span><img src="../../assets/group1/pp3.jpg" alt="" /></span>
            Jack Francis <br />
            <h3 class="reste">Manager @ Accidents Direct</h3>
          </h3>
        </div>
        <div class="col-4">
          <h3>
            <span><img src="../../assets/group1/pp1.jpg" alt="" /></span>
            Dawna N. Editor <br />
            <h3 class="reste">@ Museum of Typography</h3>
          </h3>
        </div>
      </div>
    </div>
  </div>
</section>
<footer>
  <div class="jumbotron jumbotron-fluid">
    <div class="row">
      <div class="col-4"><h6>Copyright © 2020. All Rights Reserved.</h6></div>
      <div class="col-8" id="right">
        <div class="row">
          <div class="col">
            <a class="nav-link" aria-current="page" href="#">HOME</a>
          </div>
          <div class="col">
            <a class="nav-link" aria-current="page" href="#">FEATURES</a>
          </div>
          <div class="col">
            <a class="nav-link" aria-current="page" href="#">TERMS</a>
          </div>
          <div class="col">
            <a class="nav-link active" aria-current="page" href="#">PRIVACY</a>
          </div>
          <div class="col-2">
            <a class="nav-link active" aria-current="page" href="#"
              >CONTACT US</a
            >
          </div>
          <div class="col-4">
            <div class="row" id="row2">
              <div class="col">
                <a class="nav-link active" aria-current="page" href="#">
                  <img src="../../assets/group1/facebook (1).svg" alt=""
                /></a>
              </div>
              <div class="col">
                <a class="nav-link active" aria-current="page" href="#">
                  <img src="../../assets/group1/instagram.svg" alt=""
                /></a>
              </div>
              <div class="col">
                <a class="nav-link" aria-current="page" href="#">
                  <img src="../../assets/group1/twitter.svg" alt=""
                /></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
